/* common */
.relative {
    position: relative;
}

header,
main,
footer {
    margin-top: 80px;
}

.content {
    width: 100%;
    text-align: center;
}

.title {
    padding: 15px 0;
    text-align: center;
}

.content > h3 {
    padding: 20px 0;
}
/* /common */

/* header */
.content-sx > img {
    width: 40%;
}

.content-dx > img {
    width: 65%;
}

main > .row,
footer > .row{
    background-color: #f9f9f9;
}

/* main */
main .content > img {
    height: 180px;
    margin-top: 15px;
}

/* footer */
footer .content {
    margin-top: 30px;
}

footer .content > img {
    height: 200px;
    padding: 20px;
    background-color: #428bca;
    border-radius: 50%;
}

footer .content > hr {
    margin: 10px 0;
}

/* Mobile */
@media screen and (max-width: 767px) {
  
    header {
        margin-top: 0;
    }

    header > .row,
    footer > .row {
        background-color: #f2f2cd;
    }

    .content-dx {
        margin-top: 20px;
    }

    main > .row {
        background-color: transparent;
    }

    main .content {
        padding: 10px
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {

    header {
        margin-top: 0;
    }
    
    header > .row,
    footer > .row {
        background-color: #f2f2cd;
    }

    main .content,
    footer .content {
        padding: 10px
    }

    footer .content > hr {
        display: none;
    }
}
